<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.HealthStory">

    <uses-permission android:name="android.permission.INTERNET" />

    <application

        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.HealthStory"
        >
        <activity android:name=".LoginActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
            <action android:name="android.intent.action.MAIN" />
            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
        </activity>
        <activity android:name=".YouTubeActivity" />
        <activity android:name=".SelectActivity" />
        <activity android:name=".CalenderActivity" />
        <activity android:name=".MainActivity"></activity>
        <activity android:name=".Sub_Activity" />
        <activity android:name=".SelectProduct_Activity" />
        <activity
            android:name="com.example.kotlin.TimerActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar"/>
        <receiver
            android:name="com.example.kotlin.TimerExpiredReceiver"
            android:enabled="true"
            android:exported="false" >

            android:name="com.example.kotlin.TimerExpiredReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="stop" />
                <action android:name="pause" />
                <action android:name="resume" />
                <action android:name="start" />
            </intent-filter>
        </receiver>

        <activity
            android:name="com.example.kotlin.SettingsActivity"
            android:parentActivityName="com.example.kotlin.TimerActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.kotlin.TimerActivity" />
        </activity>

    </application>

</manifest>